.home{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.home-content{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 20px;
    text-align: center;
    gap: 5px;

}