.nav {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.signout-button{
  padding: 4px 5px ;
  margin-left: 33px;
  border-radius: 5px;
  border: 1px solid #007bff;
  color:#007bff ;

}
